/*
  Colors:
    normal elements: #DFE3E4
    "special" elements: #2ec4b6
    "special" elements (but darker): #063748
    background: #011627
*/

body {
    background-color: #011627;
    font-family: 'Open Sans', sans-serif;
    color: #DFE3E4;
    -webkit-app-region: drag;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

html {
    -webkit-app-region: drag;
}

@font-face {
    font-family: OpenSans;
    src: url(Font/OpenSans-Regular.ttf);
}
span, div{
    font-family: OpenSans;
}
/* Electron */

::-webkit-scrollbar {
    display: none;
}

#container {
    -webkit-app-region: drag;
    position: fixed;
    width: 784px;
    height: 352px;
}

#confirmContainer {
    -webkit-app-region: drag;
    position: fixed;
    width: 784px;
    height: 382px;
    text-align: center;
}


/* General */

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.5;
}


/* Text */

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

#information {
    margin-left: 100px;
    margin-right: 100px;
}


/* Graphics */

img {
    opacity: 0.8;
}

img:hover {
    opacity: 1.0;
}

#info {
    float: right;
}

#imgInfo {
    width: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

#imgForth {
    width: 40px;
    margin-top: 30px;
    transform: rotate(180deg);
    margin-right: 15px;
    float:right;
}

#imgInfo {
    width: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

#imgBack {
    width: 40px;
    padding-top: 30px;
    margin-left: 10px;
}

#imgConfirm {
    padding-top: 1px;
    padding-left: 40%;
}

#imgConclusion {
    padding-left: 5px;
    padding-right: 5px;
}

#conclusion {
    padding-top: 110px;
}

#start,
#selectSource,
#cleanFiles,
#conclusion {
    text-align: center;
}

#options {
    text-align: center;
    padding-top: 20px;
}

#title {
    padding-top: 10px;
    text-align: center;
}

#start {
    padding-top: 110px;
}

#selectSource {
    margin-top: 18%;
    font-size: 40px;
}

#cleanFiles {
    margin-top: 50px;
}

#info {
    float: right;
}

#imgStart,
#imgSelectSource,
#imgIncludeSubfolders,
#imgCleanFiles,
#imgConclusion {
    width: 100px;
}

#showPath {
    margin-top: 20px;
    font-size: 10px;
    color: white;
    opacity: 0.5;
}

img {
    opacity: 0.5;
}

img:hover {
    opacity: 1.0;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    width: 200px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.5;
}

a:hover {
    opacity: 1;
}


/* Terminal Animation */

.hidden {
    opacity: 0;
}

.console-container {
    font-family: 'Open Sans';
    font-size: 16px;
    text-align: center;
    height: 200px;
    width: 600px;
    display: block;
    position: absolute;
    color: #DFE3E4;
    top: 450px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}


/* Progressbar */

#progressbar {
    -webkit-app-region: drag;
    position: fixed;
    padding-bottom: 13px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 4px;
}


/* Table */

#fileTable {
    border-collapse: collapse;
}

#fileTable thead,
#fileTable tbody {
    display: block;
    width: 100%;
}

#fileTable tbody {
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}

#fileTable td,
#fileTable th {
    padding: 8px;
    text-align: left;
}

#fileTable tr {
    background-color: #011627;
}

#fileTable tr:hover {
    background-color: #2ec4b6;
    color: #011627;
}

#fileTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #063748;
    color: #2ec4b6;
}


/* Delete Button */

.centerMe {
    position: relative;
    float: right;
    margin-top: 30px;
    margin-right: 22px;
}

button {
    display: flex;
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: 0;
    overflow: hidden;
}

button .icon {
    position: relative;
    background: #063748;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #DFE3E4;
    font-size: 18px;
    transition: .2s color;
    border-radius: 2px;
}

button .icon .fa {
    width: 30px;
    transition: .2s all;
}

button .icon .fa-check {
    color: #2ec4b6;
}

button .icon .fa-question {
    color: #DFE3E4;
}

button .icon:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #063748;
    top: 12.5px;
    right: 1px;
    transition: .2s right;
    z-index: 1;
}

button .text {
    position: relative;
    width: 0;
    height: 30px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    background: #F34541;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #DFE3E4;
    font-weight: 300;
    transition: .2s all;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

button .text span {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: .3s all;
}

button:hover .icon {
    color: #F34541;
    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

button:hover .icon:after {
    right: -2px;
}

button:hover .text {
    width: 120px;
}

button:hover .text span {
    opacity: 1;
    top: 0;
}

button.confirm .icon {
    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

button.confirm .icon .fa {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
}

button.confirm .icon:after {
    right: -2px;
}

button.confirm .text {
    background: #DFE3E4;
    color: #011627;
    width: 120px;
}

button.confirm .text span {
    opacity: 1;
    top: 0;
}

button.done .icon {
    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

button.done .icon .fa {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
}

button.done .icon:after {
    right: -2px;
}

button.done .text {
    background: #2ec4b6;
    width: 120px;
}

button.done .text span {
    opacity: 1;
    top: 0;
}

@-webkit-keyframes fadeInZoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}