/*
  Colors:
    normal text: #DFE3E4
    "special" text: #00e676
    backround: #282C34
*/

body {
    background-color: #282C34;
    font-family: 'Open Sans', sans-serif;
    color: #DFE3E4;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

html {
    -webkit-app-region: drag;
}

/* Electron */

::-webkit-scrollbar {
    display: none;
}

#container {
    -webkit-app-region: drag;
    position: fixed;
    width: 784px;
    height: 382px;
}

/* Text */

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

#information {
    margin-left: 100px;
    margin-right: 100px;
}

/* Graphics */

#info {
    float: right;
}

#imgInfo {
    width: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

#imgBack {
    width: 40px;
    padding-top: 30px;
}

#start,
#selectSource,
#cleanFiles,
#conclusion {
    text-align: center;
}

#options {
    text-align: center;
}

#title {
    padding-top: 10px;
    text-align: center;
}

#start {
    padding-top: 110px;
}

#selectSource {
    margin-top: 18%;
    font-size: 40px;
}

#options {
    padding-top: 20px;
}

#cleanFiles {
    margin-top: 50px;
}

#info {
    float: right;
}

#imgInfo {
    width: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

#imgBack {
    width: 40px;
    padding-top: 30px;
}

#conclusion {
    padding-top: 110px;
}

#imgStart,
#imgSelectSource,
#imgIncludeSubfolders,
#imgCleanFiles,
#imgConclusion {
    width: 100px;
}


#showPath {
    margin-top: 20px;
    font-size: 10px;
    color: grey;
}

#warning {
    margin-top: 20px;
    font-size: 13px;
    color: #FF1744;
}

img {
    opacity: 0.5;
}

img:hover {
    opacity: 1.0;
}

::-webkit-scrollbar {
    display: none;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    width: 200px;
    text-align: center;
}

button {
    padding-top: 20px;
    background-color: darkgray;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0.5;
    transition-duration: 0.4s;
    padding: 5px 10px;
}

button:hover {
    opacity: 1;
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.5;
}

a:hover {
    opacity: 1;
}

/* Terminal Animation */
.hidden {
    opacity:0;
  }
  .console-container {
    font-family:'Open Sans';
    font-size:16px;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:#DFE3E4;
    top:450px;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
  .console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }