body {
    background-color: #282C34;
    font-family: 'Open Sans', sans-serif;
    color: white;
    -webkit-app-region: drag;
}


/* Electron */
::-webkit-scrollbar {
    display: none;
}

/* General */
#container {
    position: relative;
}

#content {
    text-align: center;
    padding-top: 80px;
}

#information {
    margin-left: 50px;
    margin-right: 50px;
}

/* Text */

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

/* Graphics */
img {
    opacity: 0.5;
}

img:hover {
    opacity: 1.0;
}

#info {
    float: right;
}

#imgInfo {
    width: 20px;
    padding-top: 10px;
    padding-right: 10px;
}

#imgBack {
    width: 40px;
    padding-top: 30px;
}


/* Progressbar */
#progressbar {
    position: fixed;
    margin-bottom: 10px;
    margin-left: 375px;
    margin-right: 375px;
    width: 50px;
    height: 1px;
  }
